<div class="row">
    <div class="col-md-12">
        <form [formGroup]="formularioPersona" (submit)="onSubmitPerson()">
            <div class="row my-2">
                <div class="col-md">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="Nombre"
                        id="Nombre" name="nombre">
                    <div *ngIf="nombre.invalid && (nombre.touched)" class="alert alert-danger my-2">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="text" class="form-control" placeholder="Apellidos" formControlName="Apellidos" id="apeliidos">
                    <div *ngIf="apellidos.invalid && (apellidos.touched)" class="alert alert-danger my-2">
                        <div *ngIf="apellidos.errors.required">
                            Apellidos es requerido
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="email" class="form-control" placeholder="Correo" formControlName="Correo" id="correo">
                    <div *ngIf="correo.invalid && (correo.touched)" class="alert alert-danger my-2">
                        <div *ngIf="correo.errors.required">
                            Correo es requerida
                        </div>
                        <div *ngIf="correo.errors.email">
                            Estructura de correo invalida
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="number" class="form-control" placeholder="Teléfono" formControlName="Telefono" id="Telefono" minlength="10" maxlength="10">
                    <div *ngIf="telefono.invalid && (telefono.touched)" class="alert alert-danger my-2">
                        <div *ngIf="telefono.errors.required">
                            Teléfono es requerido
                        </div>
                        <div *ngIf="telefono.errors.minlength">
                            10 Caracteres 
                        </div>
                        <div *ngIf="telefono.errors.maxlength">
                            10 Caracteres 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-center">
                    <button class="btn btn-dark" type="submit"
                        [disabled]="!formularioPersona.valid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div *ngIf="mensajeExito" class="col-md text-center">
                <div *ngIf="mensajeExito" class="alert alert-success my-2">
                    {{mensajeExito}}
                </div>                
            </div>
            <div *ngIf="mensajeError" class="col-md text-center">
                <div *ngIf="mensajeError" class="alert alert-danger my-2">
                    {{mensajeError}}
                </div>                
            </div>
        </div>
    </div>
</div>