<div class="card text-center card-error">
    <div class="card-body">
        <h4 class="card-title">Opps!</h4>
        <h1>Error 404</h1>
        <p class="card-text">La página que intentas buscar <b>no existe</b></p>
        <a href="#" class="btn btn-primary" routerLink="/">Volver a inicio</a>
    </div>
</div>