<div class="row">
    <div class="col-md-12">
        <form [formGroup]="formularioPersona" (submit)="onUpdatePerson()">
            <div class="row my-2">
                <div class="col-md">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre"
                        id="Nombre" name="nombre">
                    <div *ngIf="nombre.invalid && (nombre.touched)" class="alert alert-danger my-2">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos" id="apeliidos">
                    <div *ngIf="apellidos.invalid && (apellidos.touched)" class="alert alert-danger my-2">
                        <div *ngIf="apellidos.errors.required">
                            Apellidos es requerido
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="email" class="form-control" placeholder="Correo" formControlName="correo" id="correo">
                    <div *ngIf="correo.invalid && (correo.touched)" class="alert alert-danger my-2">
                        <div *ngIf="correo.errors.required">
                            Correo es requerida
                        </div>
                        <div *ngIf="correo.errors.email">
                            Estructura de correo invalida
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md">
                    <input type="number" class="form-control" placeholder="Teléfono" formControlName="telefono" id="telefono">
                    <div *ngIf="telefono.invalid && (telefono.touched)" class="alert alert-danger my-2">
                        <div *ngIf="telefono.errors.required">
                            Teléfono es requerida
                        </div>
                        <div *ngIf="!telefono.errors.minLength">
                            10 Caracteres 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-center">
                    <button class="btn btn-dark" type="submit"
                        [disabled]="!formularioPersona.valid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div *ngIf="successMessage" class="col-md text-center">
                <div *ngIf="successMessage" class="alert alert-success my-2">
                    <h5>
                        {{successMessage}}
                    </h5>
                    <a [routerLink]="['/read']" class="text-secondary">Listado</a>
                </div>                
            </div>
            <div *ngIf="error" class="col-md text-center">
                <div *ngIf="error" class="alert alert-danger my-2">
                    {{error}}
                </div>                
            </div>
        </div>
    </div>
</div>