<div *ngIf="personas">
    <div class="table-responsive">
        <table class="table table-bordered my-2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <th scope="row">{{ persona.nombre }}</th>
                    <td>{{ persona.apellidos }}</td>
                    <td>{{ persona.correo }}</td>
                    <td>{{ persona.telefono }}</td>
                    <td>
                        <a [routerLink]="['/update/'+persona.id]" class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger mx-2" data-toggle="modal" data-target="#Options" (click)="beforeDelete(persona)">Eliminar</a>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!personas">
    <div class="col text-center">
        <div class="alert alert-danger my-2">
            <h5>
                No hay personas registradas
            </h5>        
            <h6>
                <a [routerLink]="['/create']" class="text-secondary">Registrar persona</a>
            </h6>
        </div>        
    </div>    
</div>

<!--
  Inicia Modal
-->

<div class="modal fade" id="Options" tabindex="-1" role="dialog" aria-labelledby="Options" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="ModalContent">
  
          </div>
          <input type="hidden" id="idPersonDelete">
        </div>
        <div class="modal-footer" id="ModalActions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary" (click)="deletePerson()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--
    Find Modal
  -->