.background-primary{
    background-color: #d61315;
    color:#9c0000;
}

.btn-primary{
    background-color: #d61315;
    border: #9c0000 1px solid;
    color:#fff;
}

.background-dark{
    background-color: #9c0000;
}

.background-light{
    background-color: #ff5740;
}

.flex-container{
    height: 100vh;
    background-color: #eae8e8;
}
.form-container{
    display: flex;        
    justify-content: center;
    align-items: center;
    height: 100%;   
    //background-color: #343a40; 
}

form{    
    padding: 10px 10px 10px 10px;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 330px;
    height: 230px;
    //border-radius: 5px;
}

.card{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
}

.input{
    margin: 10px auto;
}