<!--
  operacionesCRUD
-->
<div *ngIf="identity!=null">
  
    <nav class="navbar navbar-expand-sm navbar-dark background-dark">
      <a class="navbar-brand"><img src="../assets//eduardo.png" alt="Eduardo Cordero. Dev Jr."
          style="background-color: white;" width="70px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Operaciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="create">Create</a>
              <a class="dropdown-item" routerLink="read">Read</a>              
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] (click)="onSubmitLogout()">Cerrar Sesión</a>
          </li>          
        </ul>
      </div>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>    
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark background-dark">
      <div class="col text-white text-center">
        &copy;Eduardo Cordero
      </div>
    </nav>
  
</div>
<!--

  Template para login

-->
<div *ngIf="identity == null">
  <div class="flex-container">
    <div class="form-container">
      <div class="form">
        <div class="card">
          <form [formGroup]="formularioLogin" (submit)="onSubmitLogin()">
            <div class="input text-center">
              <h6>
                Iniciar sesión
              </h6>
            </div>
            <div class="input">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="material-icons">email</i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre de usuario" formControlName="usuario"
                  id="usuario" name="usuario">
              </div>
              <div *ngIf="usuario.errors?.email" class="alert alert-danger my-2 text-center">
                Correo electrónico no valido
              </div>
            </div>
            <div class="input">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="material-icons">lock</i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="contrasenia"
                  id="contrasenia" name="contrasenia">
              </div>
              <div *ngIf="contrasenia.invalid && (contrasenia.touched)" class="alert alert-danger my-2 text-center">
                <div *ngIf="contrasenia.errors.required">
                  Contraseña requerida
                </div>
              </div>
            </div>
            <div class="input text-center">
              <button class="btn btn-primary" type="submit" [disabled]="!formularioLogin.valid">Entrar</button>
            </div>
            <div class="input text-center">
              <div *ngIf="error">
                <div class="alert alert-danger" role="alert">
                  <strong>Error </strong>{{error}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Spinner
-->

<ngx-spinner></ngx-spinner>